<h1>Skate Park</h1>

<div class="py-4">
  <h2>Datos del perfil</h2>
  <hr class="w-50" />

  <form id="form-datos">
    <div class="form-group row w-50 m-auto">
      <div class="form-group col-12 col-sm-6">
        <label>Email</label>
        <input class="form-control m-auto" disabled value="{{email}}" {{!value="tonyhawk@skate.com" }} />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Nombre</label>
        <input class="form-control m-auto" type="text" required id="nombre" value="{{nombre}}" />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Password</label>
        <input type="password" class="form-control m-auto" required id="nombre" value="{{password}}" />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Repita la password</label>
        <input type="password" class="form-control m-auto" required id="repita" value="" />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Años de experiencia</label>
        <input class="form-control m-auto" type="number" required id="anos_experiencia" value="{{anos_experiencia}}" />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label>Especialidad</label>
        <input class="form-control m-auto" type="text" required id="especialidad" value="{{especialidad}}" />
      </div>
    </div>
    <div class="mb-1">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
    <div>
      <button type="button" onclick="eliminarCuenta()" class="btn btn-danger">Eliminar cuenta</button>
    </div>
  </form>
</div>

{{!
<script>
  let email = document.getElementById('email');
  let nombre = document.getElementById('nombre');
  let password = document.getElementById('password');

  let anhos = document.getElementById('anhos');
  let especialidad = document.getElementById('especialidad');

  const editarDatos = async () => {

    if (password.value !== password_2.value) {
      alert('Los contraseñas no coinciden')

    } else {
      let payload = {
        email: email.value,
        nombre: nombre.value,
        password: password.value,
        anhos: anhos.value,
        especialidad: especialidad.value,
      }

      try {
        await axios.put('http://localhost:3000/datos_perfil', payload)
          .then(() => {
            alert('Datos actualizados con éxito')
          })

      } catch ({ response }) {
        const { data } = response
        const { error } = data
        alert(error)
      }
    }
  }

  const eliminarCuenta = async () => {
    await axios.delete(`http://localhost:3000/eliminar_cuenta/${email.value}`)
      .then(() => {
        alert('Cuenta eliminada con éxito')

        window.location.href = `http://localhost:3000/login`
      })
  }
</script>}}

<script>
  $('#formDatos').submit(async (e) => {
    e.preventDefault();

    const nombre = document.getElementById('nombre').value
    const password = document.getElementById('password').value
    const repita = document.getElementById('repita').value
    const experiencia = document.getElementById('experiencia').value
    const especialidad = document.getElementById('especialidad').value

    if (password !== repita) return alert('Las nueva contraseña no coincide')

    const payload = { nombre, password, repita, anos_experiencia: experiencia, especialidad }
    console.log('aqui payload', payload)

    const urlSearchParams = new URLSearchParams(window.location.search);
    const { token } = Object.fromEntries(urlSearchParams.entries());
    //o podemos utilizar el codigo de la linea 108:
    //const token = sessionStorage.getItem("token")

    try {
      const { data } = await axios.put(`/Datos?token=${token}`, payload)
      console.log('aqui data', data)

      window.location.href = '/'

    } catch (e) {
      const { data } = e.response
      const { error } = data
      alert(error)
    }
  })

  const eliminarCuenta = async () => {
    try {
      const token = sessionStorage.getItem("token")
      const response = await axios.delete(`/eliminarCuenta?token=${token}`)
      console.log(response)
      window.location.href = "/"
    } catch (e) {
      const { data } = e.response
      const { error } = data
      alert(error)
    }
  }

</script>